#feature {
  background-color: white !important;
}

#feature > section {
  background-color: unset;
}
#feature .main-content > div:nth-child(2) img {
  width: 100%;
  height: 80%;
}
#feature > section > div:nth-child(2) {
  justify-content: space-around;
  align-items: stretch;
  padding: 3em 0;
}

#feature article .title h5 {
  text-align: left;
  color: black;
  font-size: larger;
  font-weight: 500;
}

#feature article {
  padding: 1em 0;
}

#feature article .content {
  display: flex;
}

#feature article .content .image {
  margin-right: 20px;
}

#feature article .describe p {
  text-align: left;
  width: 100%;
}

@media screen and (max-width: 990px), (max-width: 900px) {
  #feature .main-content {
    flex-direction: column;
  }

  #feature .main-content > div:nth-child(2) img {
    width: 90px;
    height: 90px;
  }
}
