#transition {
  background: url('../../image-for-exercise/others/1920x800x1.jpg') center/cover
    no-repeat;
  margin: 0 auto;
}

#transition section {
  background-color: unset;
  padding: 0;
}
#transition article {
  background-color: #0c0c0ccc;
  padding: 3em 2em;
  color: white;
  width: 50%;
  height: 100%;
  font-weight: 600;
  transition: var(--transition);
  margin: 0 auto;
  cursor: pointer;
}

#transition article p {
  line-height: 2em;
  text-align: center;
}

#transition article span {
  color: var(--clr-primary-6);
}
#transition article .image {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

#transition button {
  width: 50px;
  height: 50px;
}

#transition .carousel-indicators button {
  width: 15px;
  height: 15px;
  background-color: hsl(21, 57%, 50%);
}

@media screen and (max-width: 990px) {
  #transition article {
    width: 70vw;
    height: 100%;
    font-weight: 600;
  }

  .carousel-control-prev-icon {
    display: none;
  }
  .carousel-control-next-icon {
    display: none;
  }
}
