#freequency-question {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}
#freequency-question .content article {
  width: 100%;
  border: 1px solid rgba(150, 147, 147, 0.766);
}
#freequency-question .content article > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-right: 2em;
  border: 1px solid rgb(106, 103, 103);
}
#freequency-question .content article > div p {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
  color: black;
}
#freequency-question .content article > div > span {
  background-color: var(--clr-primary-6);
  cursor: pointer;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#freequency-question .content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  margin: 0 auto;
  gap: 10px;
  width: 90%;
}
#freequency-question .content article {
  margin-right: 1%;
}
#freequency-question .content article .answer {
  width: 100%;
}

#freequency-question .content article {
  border: 1px solid var(--clr-grey-10);
  /* width: 100%; */
  margin: 1em 1em;
  height: fit-content;
  box-sizing: border-box;
  position: static;
}

#freequency-question .content article:hover {
  cursor: pointer;
  background-color: var(--clr-primary-6);
  transition: var(--transition);
  color: white;
}

#freequency-question .content article:hover > div > p {
  color: white;
}

/* .show {
  display: block !important;
  transition: var(--transition);
} */

/* #freequency-question .content article .answer .hide {
  display: none !important;
  transition: var(--transition) !important;
  height: 0 !important;
  overflow: hidden !important;
} */

@media screen and (max-width: 990px) {
  #freequency-question .content {
    flex-direction: column;
    width: 100%;
  }

  #freequency-question .content > div {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #freequency-question .content > div > article {
    width: 100%;
  }

  #freequency-question .content article {
    margin-right: 0;
  }
  .title-services {
    padding: 0 0.5em;
  }

  #freequency-question .content {
    display: block;
    margin: 0 auto;
    width: 90%;
  }

  #freequency-question .content article > div p {
    width: 80%;
  }
}
