#freequency-question {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

@media screen and (max-width: 990px) {
  .title-services {
    padding: 0 0.5em;
  }

  #freequency-question .row {
    display: block;
    margin: 0 auto;
    width: 99%;
  }

  #freequency-question .content article > div p {
    width: 80%;
  }
}
